{% assign image_path = site.baseurl | append: '/processed_imgs/assets/' %}
{% capture srcset %}
  {{ image_path }}{{ include.file }}-320.jpg 320w,
  {{ image_path }}{{ include.file }}-640.jpg 640w,
  {{ image_path }}{{ include.file }}-1280.jpg 1280w,
  {{ image_path }}{{ include.file }}-1920.jpg 1920w
{% endcapture %}
{% capture webp_srcset %}
    {{ image_path }}{{ include.file }}-320.webp 320w,
    {{ image_path }}{{ include.file }}-640.webp 640w,
    {{ image_path }}{{ include.file }}-1280.webp 1280w,
    {{ image_path }}{{ include.file }}-1920.webp 1920w
{% endcapture %}
{% capture supports_webp %}
  {% if page.webp_support %} true {%endif %}
{% endcapture %}
{%
  assign final_srcset = supports_webp | json ==
  'true' ? webp_srcset : srcset
%}

{% capture img %}
<img
  src="{{ image_path }}{{ include.file }}-1920.jpg"
  srcset="{{final_srcset}}"
  sizes="
    (max-width: 480px) 320px,
    (max-width: 960px) 640px,
    (max-width: 1440px) 1280px,
    1920px
  "
  alt="{{include.caption}}"
>
{% endcapture %}


{% if include.suppress_link %}
{{ img }}
{% else %}
<style>
  figure {
    text-align: center;
  }
</style>
<figure>
  <a
    href="{{ image_path }}{{ include.file }}-1920.jpg"
    data-lightbox="default-gallery"
  >
    {{ img }}
  </a>
  <figcaption>{{ include.caption }}</figcaption>
</figure>
{% endif %}
